In [1]:
import matplotlib.pyplot as plt
from matplotlib import cm
import pandas as pd
import seaborn as sns
import numpy as np
import random
sns.set_style('white')

%matplotlib inline

In [2]:
# Load raw data into DataFrame using pandas
road_features_df_raw = pd.read_csv('Road_features.csv', delimiter=',')

In [3]:
#replace NaN with 0
road_features_df = road_features_df_raw[~(road_features_df_raw['State'] == 'Total ')].fillna(0)

In [4]:
road_features_df.head()

,SNo,State,SingleLane-Accident-2014,SingleLane-Killed-2014,SingleLane-Injured-2014,TwoLanes-Accident-2014,TwoLanes-Killed-2014,TwoLanes-Injured-2014,3LanesOrMoreW.OMedian-Accident-2014,3LanesOrMoreW.OMedian-Killed-2014,3LanesOrMoreW.OMedian-Injured-2014,4LanesWithMedian-Accident-2014,4LanesWithMedian-Killed-2014,4LanesWithMedian-Injured-2014
0,1,Andhra Pradesh,8634.0,2958.0,13541.0,10327.0,2994.0,10122.0,1188.0,396.0,1199.0,4291.0,1560.0,5069.0
1,2,Arunachal Pradesh,90.0,60.0,152.0,115.0,59.0,156.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Assam,3888.0,1217.0,3195.0,2432.0,1035.0,2510.0,56.0,25.0,42.0,768.0,245.0,752.0
3,4,Bihar,3731.0,1815.0,2475.0,4156.0,2096.0,3092.0,756.0,390.0,485.0,913.0,612.0,588.0
4,5,Chhattisgarh,7961.0,2244.0,7762.0,4696.0,1524.0,4661.0,0.0,0.0,0.0,1164.0,254.0,734.0

In [5]:
road_features_df.tail()

,SNo,State,SingleLane-Accident-2014,SingleLane-Killed-2014,SingleLane-Injured-2014,TwoLanes-Accident-2014,TwoLanes-Killed-2014,TwoLanes-Injured-2014,3LanesOrMoreW.OMedian-Accident-2014,3LanesOrMoreW.OMedian-Killed-2014,3LanesOrMoreW.OMedian-Injured-2014,4LanesWithMedian-Accident-2014,4LanesWithMedian-Killed-2014,4LanesWithMedian-Injured-2014
31,32,Dadra & Nagar Haveli,21.0,15.0,28.0,66.0,44.0,68.0,0.0,0.0,0.0,0.0,0.0,0.0
32,33,Daman & Diu,13.0,5.0,11.0,26.0,10.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0
33,34,Delhi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,35,Lakshadweep,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,36,Puducherry,525.0,43.0,393.0,567.0,108.0,930.0,0.0,0.0,0.0,19.0,0.0,0.0

In [6]:
# Final
#Let's plot two grouped bar charts in one html plot with bokeh

from bokeh.plotting import figure, show, output_file, ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.core.properties import value
from bokeh.layouts import row
from bokeh.models import HoverTool
from math import pi

output_file("road-features-accidents-killed.html")

sorted_road_df = road_features_df.sort_values(['SingleLane-Accident-2014'], ascending=[False])
sorted_road_top20_df = sorted_road_df[:20]

states = list(sorted_road_top20_df['State'])
#Number of accidents
onelane = list(sorted_road_top20_df['SingleLane-Accident-2014'])
twolane = list(sorted_road_top20_df['TwoLanes-Accident-2014'])
threelane = list(sorted_road_top20_df['3LanesOrMoreW.OMedian-Accident-2014'])
fourlane = list(sorted_road_top20_df['4LanesWithMedian-Accident-2014'])

#Killed
onelane_killed = list(sorted_road_top20_df['SingleLane-Killed-2014'])
twolane_killed = list(sorted_road_top20_df['TwoLanes-Killed-2014'])
threelane_killed = list(sorted_road_top20_df['3LanesOrMoreW.OMedian-Killed-2014'])
fourlane_killed = list(sorted_road_top20_df['4LanesWithMedian-Killed-2014'])

print(states)

road_type = ['OneLane', 'TwoLane', 'ThreeLane', 'FourLane']

#colors = ['#2b83ba', '#abdda4', '#ffffbf', '#fdae61']
colors = ['#5e4fa2', '#bebada', '#fb8072', '#80b1d3']
#colors_killed = ['#b30000', '#e34a33', '#fc8d59', '#fdcc8a']
colors_killed = ['#5e4fa2', '#bebada', '#fb8072', '#80b1d3']
#['#5e4fa2', '#bebada', '#fb8072', '#80b1d3', '#bc80bd']

data = {'States' : states,
        'OneLane'   : onelane,
        'TwoLane'   : twolane,
        'ThreeLane'   : threelane,
        'FourLane'   : fourlane}

data_killed = {'States' : states,
        'OneLane'   : onelane_killed,
        'TwoLane'   : twolane_killed,
        'ThreeLane'   : threelane_killed,
        'FourLane'   : fourlane_killed}

source = ColumnDataSource(data=data)
source_killed = ColumnDataSource(data=data_killed)

hover = HoverTool(tooltips=[
    ('One Lane', '@OneLane'),
    ('Two Lane', '@TwoLane'),
    ('Three Lane', '@ThreeLane'),
    ('Four Lane', '@FourLane')
])


#Plot Number of accidents
p1 = figure(x_range=states, plot_height=500, plot_width=600, title="Road Feature vs Accidents",
           toolbar_location=None, tools=[hover],
           x_axis_label="States", y_axis_label="No of Accidents")

p1.vbar_stack(road_type, x='States', width=0.9, color=colors, source=source,
             legend=[value(x) for x in road_type])

p1.xaxis.major_label_orientation = "vertical"
p1.xaxis.axis_line_color = "blue"
p1.xaxis.axis_label_text_color = "black"
p1.yaxis.axis_label_text_color = "black"
p1.title.align = "center"
p1.legend.location = "top_right"
#p1.legend.orientation = "horizontal"
p1.y_range.start = 0.1
p1.x_range.range_padding = 0.1
p1.axis.minor_tick_in = -3
p1.axis.minor_tick_out = 6

#Plot Number of fatalties
p2 = figure(x_range=states, plot_height=500, plot_width=600, title="Road Feature vs Fatality",
           toolbar_location=None, tools=[hover],
           x_axis_label="States", y_axis_label="No of Fatalities")

p2.vbar_stack(road_type, x='States', width=0.9, color=colors_killed, source=source_killed,
             legend=[value(x) for x in road_type])

p2.xaxis.major_label_orientation = "vertical"
p2.xaxis.axis_line_color = "blue"
#p2.xaxis.axis_label_text_color = "orange"
#p2.yaxis.axis_label_text_color = "orange"
p2.title.align = "center"
p2.legend.location = "top_right"
#p2.legend.orientation = "horizontal"
p2.y_range.start = 0.1
p2.x_range.range_padding = 0.1
p2.axis.minor_tick_in = -3
p2.axis.minor_tick_out = 6

# put the results in a row
show(row(p1, p2))

['Madhya Pradesh', 'Karnataka', 'Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Rajasthan', 'Gujarat', 'Andhra Pradesh', 'Chhattisgarh', 'West Bengal', 'Kerala', 'Telangana', 'Orissa', 'Haryana', 'Assam', 'Jammu & Kashmir', 'Bihar', 'Punjab', 'Goa', 'Jharkhand']