In [1]:
import matplotlib.pyplot as plt
from matplotlib import cm
import pandas as pd
#import cufflinks as cf
import seaborn as sns
import numpy as np
import random
sns.set_style('white')

%matplotlib inline

In [2]:
# Load raw data into DataFrame using pandas
vehicle_defect_df_raw = pd.read_csv('vehicle_defect.csv', delimiter=',')

In [3]:
#replace NaN with 0
vehicle_defect_df = vehicle_defect_df_raw[~(vehicle_defect_df_raw['State'] == 'Total')].fillna(0)
vehicle_defect_total_df = vehicle_defect_df_raw[vehicle_defect_df_raw['State'] == 'Total']

In [4]:
vehicle_defect_df.head()

,SNo,State,DefectiveBrakes-NumberofAccident-2014,DefectiveBrakes-PersonsKilled-2014,DefectiveBrakes-PersonsInjured-2014,DefectiveSteering-NumberofAccident-2014,DefectiveSteering-PersonsKilled-2014,DefectiveSteering-PersonsInjured-2014,PuncturedBurstTypres-NumberofAccident-2014,PuncturedBurstTypres-PersonsKilled-2014,PuncturedBurstTypres-PersonsInjured-2014,BaldTyres-NumberofAccident-2014,BaldTyres-PersonsKilled-2014,BaldTyres-PersonsInjured-2014,OtherSeriousMechanicalDefect-NumberofAccident-2014,OtherSeriousMechanicalDefect-PersonsKilled-2014,OtherSeriousMechanicalDefect-PersonsInjured-2014
0,1,Andhra Pradesh,150.0,77.0,1820.0,542.0,157.0,438.0,293.0,82.0,376.0,327.0,125.0,400.0,1221.0,532.0,3024.0
1,2,Arunachal Pradesh,41.0,25.0,57.0,19.0,15.0,45.0,16.0,9.0,35.0,0.0,0.0,0.0,45.0,19.0,49.0
2,3,Assam,205.0,76.0,206.0,82.0,25.0,66.0,48.0,16.0,69.0,59.0,15.0,77.0,292.0,105.0,257.0
3,4,Bihar,793.0,410.0,528.0,376.0,165.0,279.0,314.0,155.0,266.0,137.0,68.0,104.0,546.0,270.0,493.0
4,5,Chhattisgarh,1396.0,412.0,1386.0,932.0,245.0,854.0,427.0,121.0,429.0,86.0,25.0,127.0,4924.0,1398.0,4351.0

In [5]:
vehicle_defect_total_df.head()

,SNo,State,DefectiveBrakes-NumberofAccident-2014,DefectiveBrakes-PersonsKilled-2014,DefectiveBrakes-PersonsInjured-2014,DefectiveSteering-NumberofAccident-2014,DefectiveSteering-PersonsKilled-2014,DefectiveSteering-PersonsInjured-2014,PuncturedBurstTypres-NumberofAccident-2014,PuncturedBurstTypres-PersonsKilled-2014,PuncturedBurstTypres-PersonsInjured-2014,BaldTyres-NumberofAccident-2014,BaldTyres-PersonsKilled-2014,BaldTyres-PersonsInjured-2014,OtherSeriousMechanicalDefect-NumberofAccident-2014,OtherSeriousMechanicalDefect-PersonsKilled-2014,OtherSeriousMechanicalDefect-PersonsInjured-2014
36,Total,Total,23645.0,7179.0,26237.0,11430.0,3746.0,10713.0,9748.0,3371.0,9081.0,9027.0,3084.0,8423.0,56801.0,18696.0,54728.0

In [6]:
# Summary statistics
vehicle_defect_df.describe()

,DefectiveBrakes-NumberofAccident-2014,DefectiveBrakes-PersonsKilled-2014,DefectiveBrakes-PersonsInjured-2014,DefectiveSteering-NumberofAccident-2014,DefectiveSteering-PersonsKilled-2014,DefectiveSteering-PersonsInjured-2014,PuncturedBurstTypres-NumberofAccident-2014,PuncturedBurstTypres-PersonsKilled-2014,PuncturedBurstTypres-PersonsInjured-2014,BaldTyres-NumberofAccident-2014,BaldTyres-PersonsKilled-2014,BaldTyres-PersonsInjured-2014,OtherSeriousMechanicalDefect-NumberofAccident-2014,OtherSeriousMechanicalDefect-PersonsKilled-2014,OtherSeriousMechanicalDefect-PersonsInjured-2014
count,36.000000,36.000000,36.000000,36.00000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,656.805556,199.416667,728.805556,317.50000,104.055556,297.583333,270.777778,93.638889,252.250000,250.750000,85.666667,233.972222,1577.805556,519.333333,1520.222222
std,1225.161000,339.638663,1328.816613,596.25553,234.142197,521.771070,500.573563,197.515302,446.871882,483.874799,184.445888,447.095099,3056.484496,1001.094373,3119.434052
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.750000,0.750000,4.500000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.750000,0.000000,10.750000
50%,129.500000,30.500000,156.500000,68.00000,12.500000,69.000000,44.000000,12.500000,52.000000,42.000000,11.500000,30.500000,329.000000,98.000000,204.000000
75%,803.500000,347.250000,870.250000,380.75000,157.250000,408.000000,329.250000,138.500000,357.250000,265.500000,96.500000,264.000000,1350.000000,581.500000,1650.000000
max,6013.000000,1759.000000,6811.000000,2560.00000,1355.000000,2454.000000,2195.000000,1138.000000,1873.000000,2036.000000,996.000000,2085.000000,14091.000000,5275.000000,15767.000000

In [7]:
#Stacked bar plot: Data Prep
sorted_total_accidents_df = vehicle_defect_df.sort_values(['DefectiveBrakes-NumberofAccident-2014'], ascending=[False])
sorted_total_accidents_top20_df = sorted_total_accidents_df[:20]

sorted_total_accidents_df[:2]

,SNo,State,DefectiveBrakes-NumberofAccident-2014,DefectiveBrakes-PersonsKilled-2014,DefectiveBrakes-PersonsInjured-2014,DefectiveSteering-NumberofAccident-2014,DefectiveSteering-PersonsKilled-2014,DefectiveSteering-PersonsInjured-2014,PuncturedBurstTypres-NumberofAccident-2014,PuncturedBurstTypres-PersonsKilled-2014,PuncturedBurstTypres-PersonsInjured-2014,BaldTyres-NumberofAccident-2014,BaldTyres-PersonsKilled-2014,BaldTyres-PersonsInjured-2014,OtherSeriousMechanicalDefect-NumberofAccident-2014,OtherSeriousMechanicalDefect-PersonsKilled-2014,OtherSeriousMechanicalDefect-PersonsInjured-2014
13,14,Madhya Pradesh,6013.0,783.0,6811.0,2473.0,381.0,2454.0,1907.0,292.0,1848.0,2036.0,287.0,2085.0,11087.0,1589.0,10112.0
11,12,Karnataka,3324.0,680.0,3324.0,472.0,98.0,472.0,445.0,94.0,445.0,442.0,70.0,442.0,3640.0,730.0,3640.0

In [8]:
# Final
#Stacked bar plot with bokeh

from bokeh.plotting import figure, show, output_file, ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.core.properties import value
from math import pi
from bokeh.models import HoverTool

output_file("vehicle-defect-accidents.html")

sorted_total_accidents_df = vehicle_defect_df.sort_values(['DefectiveBrakes-NumberofAccident-2014'], ascending=[False])
sorted_total_accidents_top20_df = sorted_total_accidents_df[:20]

sorted_total_accidents_df[:2]

states = list(sorted_total_accidents_top20_df['State'])
brakes = list(sorted_total_accidents_top20_df['DefectiveBrakes-NumberofAccident-2014'])
steering = list(sorted_total_accidents_top20_df['DefectiveSteering-NumberofAccident-2014'])
bursttyres = list(sorted_total_accidents_top20_df['PuncturedBurstTypres-NumberofAccident-2014'])
baldtyres = list(sorted_total_accidents_top20_df['BaldTyres-NumberofAccident-2014'])
othermechanical = list(sorted_total_accidents_top20_df['OtherSeriousMechanicalDefect-NumberofAccident-2014'])
print(states)

defect_type = ['Brakes', 'Steering', 'BurstTyres', 'BaldTyres', 'OtherMechanical']
colors = ['#5e4fa2', '#bebada', '#fb8072', '#80b1d3', '#bc80bd']
#colors = ['#b3e2cd', '#fdcdac', '#cbd5e8', '#f4cae4', '#e6f5c9']
#colors = ['#993404', '#d95f0e', '#fe9929', '#fed98e', '#ffffd4']

data = {'States' : states,
        'Brakes'   : brakes,
        'Steering'   : steering,
        'BurstTyres'   : bursttyres,
        'BaldTyres': baldtyres,
       'OtherMechanical' : othermechanical}

source = ColumnDataSource(data=data)

hover = HoverTool(tooltips=[
    ('Brakes', '@Brakes'),
    ('Steering', '@Steering'),
    ('Burst Tyres', '@BurstTyres'),
    ('Bald Tyres', '@BaldTyres'),
    ('Other Mechanical', '@OtherMechanical')
])


p = figure(x_range=states, plot_height=600, plot_width=800, title="Accidents Cause",
           toolbar_location=None, tools=[hover],
           x_axis_label="States", y_axis_label="No of Accidents")

p.vbar_stack(defect_type, x='States', width=0.9, color=colors, source=source,
             legend=[value(x) for x in defect_type])

p.xaxis.major_label_orientation = "vertical"
p.xaxis.axis_line_color = "blue"
p.xaxis.axis_label_text_color = "orange"
p.yaxis.axis_label_text_color = "orange"
p.title.align = "center"
p.legend.location = "top_right"
p.legend.orientation = "horizontal"
p.y_range.start = 0.1
p.x_range.range_padding = 0.1
p.axis.minor_tick_in = -3
p.axis.minor_tick_out = 6

show(p)

['Madhya Pradesh', 'Karnataka', 'Uttar Pradesh', 'Chhattisgarh', 'Tamil Nadu', 'Maharashtra', 'West Bengal', 'Orissa', 'Gujarat', 'Bihar', 'Rajasthan', 'Telangana', 'Jharkhand', 'Haryana', 'Jammu & Kashmir', 'Assam', 'Manipur', 'Andhra Pradesh', 'Uttarakhand', 'Meghalaya']